In [9]:
import pandas as pd
from datetime import datetime

In [10]:
df = pd.read_csv('baseline_count.csv')
df['visit_date'] = pd.to_datetime(df['visit_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   record_id          142 non-null    object
 1   redcap_event_name  142 non-null    object
 2   visit_date         142 non-null    datetime64[ns]
 3   eligible_status    142 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 4.6+ KB

In [11]:
# list nonvalid pts
nonvalid = ['CF270AUD','CF285AUD','CF286AUD','CM229AUD','CM236AUD','CM237AUD','CM251AUD','CM256AUD','CM271AUD','CM287AUD','CM301AUD','MF246AUD','MF249AUD','MF272AUD','MM216AUD','MM250AUD','MM260AUD','MM282AUD','MM293AUD']

df = df.loc[~df['record_id'].isin(nonvalid)]

In [12]:
# number of participants who completed baseline in total
len(df)

123

In [13]:
#df['record_id'].to_csv('completers_122.csv',index=False)

In [14]:
# the date we implemented the survey change
d = datetime(2023, 2, 6)
d

datetime.datetime(2023, 2, 6, 0, 0)

In [15]:
post_update = df.loc[df['visit_date']>d]
post_update

    record_id redcap_event_name visit_date  eligible_status
27   CF311AUD    baseline_arm_3 2023-04-25                1
28   CF313AUD    baseline_arm_3 2023-04-30                1
29   CF322AUD    baseline_arm_3 2023-05-03                1
66   CM294AUD    baseline_arm_3 2023-02-14                1
69   CM319AUD    baseline_arm_3 2023-05-03                1
91   MF306AUD    baseline_arm_3 2023-03-20                1
92   MF309AUD    baseline_arm_3 2023-04-30                1
93   MF316AUD    baseline_arm_3 2023-05-06                1
94   MF317AUD    baseline_arm_3 2023-05-08                1
134  MM289AUD    baseline_arm_3 2023-02-10                1
138  MM312AUD    baseline_arm_3 2023-04-23                1
139  MM315AUD    baseline_arm_3 2023-04-29                1
140  MM318AUD    baseline_arm_3 2023-05-02                1
141  MM321AUD    baseline_arm_3 2023-05-17                1

In [16]:
len(post_update)

14