In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('baseline_count.csv')
df['visit_date'] = pd.to_datetime(df['visit_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   record_id                             141 non-null    object
 1   redcap_event_name                     141 non-null    object
 2   begin_baseline_queue_part_1_complete  141 non-null    int64
 3   visit_date                            141 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 4.5+ KB

In [3]:
# list nonvalid pts
nonvalid = ['CF270AUD','CF285AUD','CF286AUD','CM229AUD','CM236AUD','CM237AUD','CM251AUD','CM256AUD','CM271AUD','CM287AUD','CM301AUD','MF246AUD','MF249AUD','MF272AUD','MM216AUD','MM250AUD','MM260AUD','MM282AUD','MM293AUD']

df = df.loc[~df['record_id'].isin(nonvalid)]

In [4]:
# number of participants who completed baseline in total
len(df)

122

In [5]:
# the date we implemented the survey change
d = datetime(2023, 2, 6)
d

datetime.datetime(2023, 2, 6, 0, 0)

In [6]:
post_update = df.loc[df['visit_date']>d]
post_update

,record_id,redcap_event_name,begin_baseline_queue_part_1_complete,visit_date
27,CF311AUD,baseline_arm_3,2,2023-04-25
28,CF313AUD,baseline_arm_3,2,2023-04-30
29,CF322AUD,baseline_arm_3,2,2023-05-03
66,CM294AUD,baseline_arm_3,2,2023-02-14
69,CM319AUD,baseline_arm_3,2,2023-05-03
91,MF306AUD,baseline_arm_3,2,2023-03-20
92,MF309AUD,baseline_arm_3,2,2023-04-30
93,MF316AUD,baseline_arm_3,2,2023-05-06
94,MF317AUD,baseline_arm_3,2,2023-05-08
133,MM289AUD,baseline_arm_3,2,2023-02-10
137,MM312AUD,baseline_arm_3,2,2023-04-23
138,MM315AUD,baseline_arm_3,2,2023-04-29
139,MM318AUD,baseline_arm_3,2,2023-05-02
140,MM321AUD,baseline_arm_3,2,2023-05-17

In [7]:
len(post_update)

14