In [1]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [50]:
df = pd.DataFrame({'a':['wee','wee','wee','woo','woo','woo'],'b':['a','b','c','a','b','c'],'c':[10,np.nan,np.nan,20,np.nan,np.nan]})
df

     a  b     c
0  wee  a  10.0
1  wee  b   NaN
2  wee  c   NaN
3  woo  a  20.0
4  woo  b   NaN
5  woo  c   NaN

In [30]:
df.loc[(df['a']=='wee') & (df['b']=='a'),'c'].values[0]

10.0

In [32]:
df['c'] = df.loc[(df['a']=='wee') & (df['b']=='a'),'c'].values[0]
df

     a  b     c
0  wee  a  10.0
1  wee  b  10.0
2  wee  c  10.0
3  woo  a  10.0
4  woo  b  10.0
5  woo  c  10.0

In [18]:
df['c'] = df.loc[df['b']=='a', 'c']
df

     a  b     c
0  wee  a  10.0
1  wee  b   NaN
2  wee  c   NaN
3  woo  a  20.0
4  woo  b   NaN
5  woo  c   NaN

In [51]:
def bleh(df):
    df['c'] = df.loc[df['b']=='a', 'c'].values[0]
    return df

In [52]:
df = df.groupby('a', group_keys=False).apply(bleh)
df

     a  b     c
0  wee  a  10.0
1  wee  b  10.0
2  wee  c  10.0
3  woo  a  20.0
4  woo  b  20.0
5  woo  c  20.0

In [3]:
df['c'] = df.iloc[0,2]
df

     a  b     c
0  wee  a  10.0
1  wee  b  10.0
2  wee  c  10.0
3  woo  a  10.0
4  woo  b  10.0
5  woo  c  10.0

In [35]:
for i, row in df.iterrows():
    df.iloc[i,2] = df.loc[(df['a']==row['a']) & (df['b']=='a'), 'c']

In [36]:
df

     a  b     c
0  wee  a  10.0
1  wee  b  10.0
2  wee  c  10.0
3  woo  a  20.0
4  woo  b  20.0
5  woo  c  20.0

In [17]:
df.loc[(df['a']=='wee') & (df['b']=='a'), 'c']

0    10.0
Name: c, dtype: float64

In [13]:
m = {'wee'}

df['c'].apply()
df

     a  b   c
0  wee  a  10
1  wee  b  10
2  wee  c  10
3  woo  a  10
4  woo  b  10
5  woo  c  10