In [48]:
import pandas as pd
import scipy.stats as stats

demographics: run t-tests for age, chi-squared for the rest

In [49]:
df = pd.read_excel('NIAAA_demographics_122_invalid_excluded.xlsx')
df.loc[122]={'ID':'MM142AUD (Measure)','ID.1':'MEASURE','SEX':'Male (1)','AGE':60.0,'ETHNICITY':'Not Hispanic or Latino (1)','RACE':'White (3)'}
df

,ID,ID.1,SEX,DATEOFBIRTH,AGE,ETHNICITY,RACE
0,CF017AUD (Cue),CUE,Female (0),1996-09-29,26.0,Not Hispanic or Latino (1),White (3)
1,CF021AUD (Cue),CUE,Female (0),1968-04-17,55.0,Not Hispanic or Latino (1),White (3)
2,CF026AUD (Cue),CUE,Female (0),1979-01-30,44.0,Not Hispanic or Latino (1),White (3)
3,CF037AUD (Cue),CUE,Female (0),1997-04-13,26.0,Not Hispanic or Latino (1),White (3)
4,CF041AUD (Cue),CUE,Female (0),1994-02-04,29.0,Not Hispanic or Latino (1),White (3)
...,...,...,...,...,...,...,...
118,MM312AUD (Measure),MEASURE,Male (1),1979-02-28,44.0,Not Hispanic or Latino (1),White (3)
119,MM315AUD (Measure),MEASURE,Male (1),1952-06-24,71.0,Not Hispanic or Latino (1),White (3)
120,MM318AUD (Measure),MEASURE,Male (1),1998-09-16,24.0,Not Hispanic or Latino (1),White (3)
121,MM321AUD (Measure),MEASURE,Male (1),1975-01-19,48.0,Not Hispanic or Latino (1),White (3)
122,MM142AUD (Measure),MEASURE,Male (1),NaT,60.0,Not Hispanic or Latino (1),White (3)

In [50]:
cue_age = df.loc[df['ID.1']=='CUE','AGE']
measure_age = df.loc[df['ID.1']=='MEASURE','AGE']
stats.ttest_ind(a=cue_age,b=measure_age,equal_var=True)

Ttest_indResult(statistic=-1.1891014874645554, pvalue=0.2367280322904251)

In [51]:
cue_age = df.loc[df['ID.1']=='CUE','AGE'].drop(12)
measure_age = df.loc[df['ID.1']=='MEASURE','AGE'].drop(84)
stats.ttest_ind(a=cue_age,b=measure_age,equal_var=True)

Ttest_indResult(statistic=-1.265613682666016, pvalue=0.20812376472646738)

In [52]:
sex_table = [[df.loc[df['ID.1']=='CUE','SEX'].value_counts()[0],df.loc[df['ID.1']=='CUE','SEX'].value_counts()[1]],
[df.loc[df['ID.1']=='MEASURE','SEX'].value_counts()[0],df.loc[df['ID.1']=='MEASURE','SEX'].value_counts()[1]]]

sex_table_1 = [[32,27],[42,22]]

stats.chi2_contingency(sex_table_1)

Chi2ContingencyResult(statistic=1.2198889866442444, pvalue=0.26938243953051677, dof=1, expected_freq=array([[35.49593496, 23.50406504],
       [38.50406504, 25.49593496]]))

In [53]:
eth_table = [[df.loc[df['ID.1']=='CUE','ETHNICITY'].value_counts()[0],df.loc[df['ID.1']=='CUE','ETHNICITY'].value_counts()[1],df.loc[df['ID.1']=='CUE','ETHNICITY'].value_counts()[2]],
[df.loc[df['ID.1']=='MEASURE','ETHNICITY'].value_counts()[0],df.loc[df['ID.1']=='MEASURE','ETHNICITY'].value_counts()[1],df.loc[df['ID.1']=='MEASURE','ETHNICITY'].value_counts()[2]]]

eth_table_1 = [[55,2,2],[58,5,1]]

stats.chi2_contingency(eth_table_1)

Chi2ContingencyResult(statistic=1.4979168452291676, pvalue=0.47285881538028907, dof=2, expected_freq=array([[54.20325203,  3.35772358,  1.43902439],
       [58.79674797,  3.64227642,  1.56097561]]))

In [54]:
race_table = [[40,14,2,0,1,1,1],[46,12,1,2,0,2,1]]
stats.chi2_contingency(race_table)

Chi2ContingencyResult(statistic=4.042545566007702, pvalue=0.6709187159386509, dof=6, expected_freq=array([[41.25203252, 12.47154472,  1.43902439,  0.95934959,  0.4796748 ,
         1.43902439,  0.95934959],
       [44.74796748, 13.52845528,  1.56097561,  1.04065041,  0.5203252 ,
         1.56097561,  1.04065041]]))

In [55]:
# race_table = [[df.loc[df['ID.1']=='CUE','RACE'].value_counts()[0],df.loc[df['ID.1']=='CUE','RACE'].value_counts()[1],
#               df.loc[df['ID.1']=='CUE','RACE'].value_counts()[2],df.loc[df['ID.1']=='CUE','RACE'].value_counts()[3],
#               df.loc[df['ID.1']=='CUE','RACE'].value_counts()[4],df.loc[df['ID.1']=='CUE','RACE'].value_counts()[5]],
# [df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[0],df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[1],
#  df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[2],df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[3],
#  df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[4],df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[5]]]

# stats.chi2_contingency(race_table)

In [56]:
# df.loc[df['ID.1']=='CUE','RACE'].value_counts()

In [57]:
# df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()