In [51]:
import pandas as pd
import scipy.stats as stats

demographics: run t-tests for age, chi-squared for the rest

In [52]:
df = pd.read_excel('NIAAA_demographics_122_invalid_excluded.xlsx')
df

,ID,ID.1,SEX,DATEOFBIRTH,AGE,ETHNICITY,RACE
0,CF017AUD (Cue),CUE,Female (0),1996-09-29,26,Not Hispanic or Latino (1),White (3)
1,CF021AUD (Cue),CUE,Female (0),1968-04-17,55,Not Hispanic or Latino (1),White (3)
2,CF026AUD (Cue),CUE,Female (0),1979-01-30,44,Not Hispanic or Latino (1),White (3)
3,CF037AUD (Cue),CUE,Female (0),1997-04-13,26,Not Hispanic or Latino (1),White (3)
4,CF041AUD (Cue),CUE,Female (0),1994-02-04,29,Not Hispanic or Latino (1),White (3)
...,...,...,...,...,...,...,...
117,MM291AUD (Measure),MEASURE,Male (1),1990-08-06,33,Not Hispanic or Latino (1),Black or African American (2)
118,MM312AUD (Measure),MEASURE,Male (1),1979-02-28,44,Not Hispanic or Latino (1),White (3)
119,MM315AUD (Measure),MEASURE,Male (1),1952-06-24,71,Not Hispanic or Latino (1),White (3)
120,MM318AUD (Measure),MEASURE,Male (1),1998-09-16,24,Not Hispanic or Latino (1),White (3)
121,MM321AUD (Measure),MEASURE,Male (1),1975-01-19,48,Not Hispanic or Latino (1),White (3)

In [53]:
cue_age = df.loc[df['ID.1']=='CUE','AGE']
measure_age = df.loc[df['ID.1']=='MEASURE','AGE']
stats.ttest_ind(a=cue_age,b=measure_age,equal_var=True)

Ttest_indResult(statistic=-1.0408475407181117, pvalue=0.3000388421650847)

In [54]:
sex_table = [[df.loc[df['ID.1']=='CUE','SEX'].value_counts()[0],df.loc[df['ID.1']=='CUE','SEX'].value_counts()[1]],
[df.loc[df['ID.1']=='MEASURE','SEX'].value_counts()[0],df.loc[df['ID.1']=='MEASURE','SEX'].value_counts()[1]]]

stats.chi2_contingency(sex_table)

Chi2ContingencyResult(statistic=1.0732491212014346, pvalue=0.3002126978838515, dof=1, expected_freq=array([[35.30327869, 23.69672131],
       [37.69672131, 25.30327869]]))

In [55]:
eth_table = [[df.loc[df['ID.1']=='CUE','ETHNICITY'].value_counts()[0],df.loc[df['ID.1']=='CUE','ETHNICITY'].value_counts()[1],df.loc[df['ID.1']=='CUE','ETHNICITY'].value_counts()[2]],
[df.loc[df['ID.1']=='MEASURE','ETHNICITY'].value_counts()[0],df.loc[df['ID.1']=='MEASURE','ETHNICITY'].value_counts()[1],df.loc[df['ID.1']=='MEASURE','ETHNICITY'].value_counts()[2]]]

stats.chi2_contingency(eth_table)

Chi2ContingencyResult(statistic=1.5252539810651193, pvalue=0.46643948402316593, dof=2, expected_freq=array([[54.16393443,  3.3852459 ,  1.45081967],
       [57.83606557,  3.6147541 ,  1.54918033]]))

In [56]:
race_table = [[40,14,2,0,1,1,1],[45,12,1,2,0,2,1]]
stats.chi2_contingency(race_table)

Chi2ContingencyResult(statistic=3.9877696986370967, pvalue=0.6783316023161963, dof=6, expected_freq=array([[41.10655738, 12.57377049,  1.45081967,  0.96721311,  0.48360656,
         1.45081967,  0.96721311],
       [43.89344262, 13.42622951,  1.54918033,  1.03278689,  0.51639344,
         1.54918033,  1.03278689]]))

In [57]:
# race_table = [[df.loc[df['ID.1']=='CUE','RACE'].value_counts()[0],df.loc[df['ID.1']=='CUE','RACE'].value_counts()[1],
#               df.loc[df['ID.1']=='CUE','RACE'].value_counts()[2],df.loc[df['ID.1']=='CUE','RACE'].value_counts()[3],
#               df.loc[df['ID.1']=='CUE','RACE'].value_counts()[4],df.loc[df['ID.1']=='CUE','RACE'].value_counts()[5]],
# [df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[0],df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[1],
#  df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[2],df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[3],
#  df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[4],df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()[5]]]

# stats.chi2_contingency(race_table)

In [58]:
# df.loc[df['ID.1']=='CUE','RACE'].value_counts()

In [59]:
# df.loc[df['ID.1']=='MEASURE','RACE'].value_counts()