In [20]:
import pandas as pd
from datetime import datetime

In [33]:
# read in relevant cols, convert timestamp col to datetime
cols = pd.read_csv("phq_scores_niaaa_20230715.csv", nrows=1).columns
df = pd.read_csv("phq_scores_niaaa_20230715.csv", usecols=cols[1:])
df['timestamp'] = df['timestamp'].apply(lambda x: datetime.strptime(x.split('.')[0], '%Y-%m-%dT%H:%M:%S'))
df

,user_id,subject_id,timestamp,survey_name,phq_total
0,us-east-1:00c110a8-18fa-4ab9-ba23-474b1f809359,MM293AUD,2023-01-30 18:38:57,phq8,2
1,us-east-1:00f63ac3-c54e-4e76-897b-e1dc68cb72d9,CM236AUD,2022-12-21 10:04:08,phq8,0
2,us-east-1:00f63ac3-c54e-4e76-897b-e1dc68cb72d9,CM236AUD,2023-01-05 13:44:03,phq8,1
3,us-east-1:00f63ac3-c54e-4e76-897b-e1dc68cb72d9,CM236AUD,2023-01-21 08:03:52,phq8,2
4,us-east-1:00f63ac3-c54e-4e76-897b-e1dc68cb72d9,CM236AUD,2023-02-01 16:39:49,phq8,0
...,...,...,...,...,...
731,us-east-1:f8452db9-2ae8-4b94-8dd4-ff8ea21d3235,MF035AUD,2022-03-20 22:08:50,phq8,6
732,us-east-1:fc5296f1-c47a-42c6-93ef-13e9d3a8af5c,CM059AUD,2021-12-30 22:01:00,phq8,5
733,us-east-1:fc5296f1-c47a-42c6-93ef-13e9d3a8af5c,CM059AUD,2022-01-13 14:48:58,phq8,2
734,us-east-1:fc5296f1-c47a-42c6-93ef-13e9d3a8af5c,CM059AUD,2022-01-27 08:51:52,phq8,3
735,us-east-1:fc5296f1-c47a-42c6-93ef-13e9d3a8af5c,CM059AUD,2022-03-25 10:39:06,phq8,3